
* {
    margin: 0;
    padding: 0;
  }
 @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@600&family=Heebo:wght@100;200&family=Nunito:ital,wght@1,200&family=Rubik+Iso&family=Satisfy&display=swap');
.fondo {
    width: 80%;
    margin-left: 10%;
}