@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@600&family=Heebo:wght@100;200&family=Nunito:ital,wght@1,200&family=Rubik+Iso&family=Satisfy&display=swap");

.botonInicio {
  background-color: #b416c8;
}
.botonInicioDegrade:hover {
  background: rgb(180, 22, 200);
  background: radial-gradient(
    circle,
    rgba(180, 22, 200, 1) 10%,
    rgba(0, 192, 255, 1) 100%
  );
}
.fondo {
  background-color: #000000;
}
.inicio {
  margin-left: 30%;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #img {
    width: 90%;
  }
  #letras {
    font-size: large;
  }
}
@media all and (max-width: 767px) {
  .inicio {
    margin-left: 25%;
    margin-top: 0%;
  }
  #img {
    width: 100%;
  }
  #letras {
    font-size: large;
  }
  .item {
    margin-left: 30px;
  }
}
